# Dependencies
node_modules/

# Environment and Secrets
.env
.env.local
storageState.json
.last_submission.json

# Playwright / Testing
screenshots/
test-results/
playwright-report/
blob-report/
playwright/.cache/

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
